.marker {
    width: 20px;
    height: 20px;
}

.description {
    font-weight: bold;
    font-size: 16px;
    font-family: "Apple Color Emoji";
}

.mainImage img {
    height: 250px;
    width: 1100px;
}

.descriptionBlock img {
   
    height: 200px;
    width: 200px;
}

